<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controls</title>
    <link rel="stylesheet" href="/static/controls.css" type="text/css">
    <link rel="stylesheet" href="/static/toogle_switch.css" type="text/css">
</head>
<body>

<h2 style="text-align:center">Responsive Pricing Tables</h2>
<p style="text-align:center">Resize the browser window to see the effect.</p>

<div class="columns">
    <div class="price">
        <div class="header">Power Control</div>
        <div class>
            <!-- Rounded switch -->
            <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
            </label>
        </div>
        <div class>
            <input type="checkbox">
        </div>
        <div>
            <a href="#" class="button">Log</a>
        </div>
    </div>



    <!--<ul class="price">-->
    <!--<li class="header">Power Control</li>-->
    <!--<li class="grey">$ 9.99 / year</li>-->
    <!--<li>10GB Storage</li>-->
    <!--<li>10 Emails</li>-->
    <!--<li>10 Domains</li>-->
    <!--<li>1GB Bandwidth</li>-->
    <!--<li class="grey"><a href="#" class="button">Sign Up</a></li>-->
    <!--</ul>-->
</div>

<!--<div class="columns">-->
<!--<ul class="price">-->
<!--<li class="header" style="background-color:#4CAF50">Feeder</li>-->
<!--<li class="grey">$ 24.99 / year</li>-->
<!--<li>25GB Storage</li>-->
<!--<li>25 Emails</li>-->
<!--<li>25 Domains</li>-->
<!--<li>2GB Bandwidth</li>-->
<!--<li class="grey"><a href="#" class="button">Sign Up</a></li>-->
<!--</ul>-->
<!--</div>-->

<!--<div class="columns">-->
<!--<ul class="price">-->
<!--<li class="header">Scheduler</li>-->
<!--<li class="grey">$ 49.99 / year</li>-->
<!--<li>50GB Storage</li>-->
<!--<li>50 Emails</li>-->
<!--<li>50 Domains</li>-->
<!--<li>5GB Bandwidth</li>-->
<!--<li class="grey"><a href="#" class="button">Sign Up</a></li>-->
<!--</ul>-->
<!--</div>-->

</body>
</html>